@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

@font-face {
  font-family: 'Playlist';
  src: local('Playlist'),
    url('../fonts/Playlist/Playlist_Script.otf') format('truetype');
  font-weight: normal;
}

.font-face-playlist {
  font-family: 'Playlist';
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

.font-face-montserrat {
  font-family: 'Montserrat';
}

html {
  font-family: 'Montserrat';
}

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  
}

.bg-age {
  top: 60px; /* Altura da navbar */
  left: 0;
  right: 0;
  bottom: 60px; /* Altura do footer */
  background-image: url(../assets/bg-barbershop.svg);
  background-position: center;
  background-size: cover; /* Coloca o elemento de background atrás de tudo */
}

.maquinabarbear-svg{
  background-image: url('../assets/barbeador-eletrico.svg');
  background-position: center ;
  background-repeat: no-repeat;
  padding: 24px;
}

.pincelcabelo-svg{
  background-image: url('../assets/escova-de-tintura-de-cabelo.svg');
  background-position: center ;
  background-repeat: no-repeat;
  padding: 24px;
}

.crianca-svg{
  background-image: url('../assets/feliz.svg');
  background-position: center ;
  background-repeat: no-repeat;
  padding: 24px;
}

.sobrancelhas-svg{
  background-image: url('../assets/sobrancelha.svg');
  background-position: center ;
  background-repeat: no-repeat;
  padding: 24px;
}

.cortecabelo-svg{
  background-image: url('../assets/tesouras.svg');
  background-position: center ;
  background-repeat: no-repeat;
  padding: 24px;
}