.inputPadrao {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: center;

  label {
    font-weight: bold;
    margin-bottom: 8px;
  }

  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: #3f51b5;
      box-shadow: 0px 0px 4px crimson;
    }
  }
}
